<p id="notice"><%= notice %></p>

<p>
  <strong>Ingredient:</strong>
  <%= @grocery_item.ingredient.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @grocery_item.amount %>
</p>

<p>
  <strong>Grocery unit:</strong>
  <%= @grocery_item.grocery_unit.name %>
</p>

<%= link_to 'Edit', edit_grocery_item_path(@grocery_item) %> |
<%= link_to 'Back', grocery_items_path %>
