<p id="notice"><%= notice %></p>

<h1>Listing No Lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @no_lists.each do |no_list| %>
      <tr>
        <td><%= no_list.name %></td>
        <td><%= no_list.user.name %></td>
        <td><%= link_to 'Show', no_list %></td>
        <td><%= link_to 'Edit', edit_no_list_path(no_list) %></td>
        <td><%= link_to 'Destroy', no_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New No list', new_no_list_path %>
