<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @guest.user %>
</p>

<p>
  <strong>Guest:</strong>
  <%= @guest.guest_id %>
</p>

<p>
  <strong>Week:</strong>
  <%= @guest.week %>
</p>

<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>
