<p id="notice"><%= notice %></p>

<h1>Listing Guest Lists</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Guest</th>
      <th>Week</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guest_lists.each do |guest_list| %>
      <tr>
        <td><%= guest_list.user %></td>
        <td><%= guest_list.guest_id %></td>
        <td><%= guest_list.week %></td>
        <td><%= link_to 'Show', guest_list %></td>
        <td><%= link_to 'Edit', edit_guest_list_path(guest_list) %></td>
        <td><%= link_to 'Destroy', guest_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guest list', new_guest_list_path %>
