<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @guest_list.user.name %>
</p>

<p>
  <strong>Guest:</strong>
  <%= @guest_list.guest.name %>
</p>

<p>
  <strong>Week:</strong>
  <%= @guest_list.week.start_date %>
</p>

<%= link_to 'Edit', edit_guest_list_path(@guest_list) %> |
<%= link_to 'Back', guest_lists_path %>
