<p id="notice"><%= notice %></p>

<p>
  <strong>Week:</strong>
  <%= @schedule.week.start_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @schedule.user.name %>
</p>

<p>
  <strong>Arrival date:</strong>
  <%= @schedule.arrival_date %>
</p>

<p>
  <strong>Departure date:</strong>
  <%= @schedule.departure_date %>
</p>

<p>
  <strong>Arrival time:</strong>
  <%= @schedule.arrival_time %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
