<p id="notice"><%= notice %></p>

<h1>Listing Paids</h1>

<table>
  <thead>
    <tr>
      <th>Date completed</th>
      <th>Amount</th>
      <th>Platform</th>
      <th>Actor</th>
      <th>Target</th>
      <th>Reproter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paids.each do |paid| %>
      <tr>
        <td><%= paid.date_completed %></td>
        <td><%= paid.amount %></td>
        <td><%= paid.platform %></td>
        <td><%= paid.actor_id %></td>
        <td><%= paid.target_id %></td>
        <td><%= paid.reproter_id %></td>
        <td><%= link_to 'Show', paid %></td>
        <td><%= link_to 'Edit', edit_paid_path(paid) %></td>
        <td><%= link_to 'Destroy', paid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paid', new_paid_path %>
