<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dish.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @dish.user %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @dish.recipe %>
</p>

<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>
