<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_allergy.user.name %>
</p>

<p>
  <strong>Allergy:</strong>
  <%= @user_allergy.allergy %>
</p>

<%= link_to 'Edit', edit_user_allergy_path(@user_allergy) %> |
<%= link_to 'Back', user_allergies_path %>
